.card-list{
    
}
.card {
    background: #a5898911;
    padding: 5px 5px;
    margin: 5px 0px;
    position: relative;
    width: 100%;
}
.card h1, p {
    margin: 0;
}
.card img{
    width: 120px;
    height: 120px;
    background: #dad8d8;
    display: inline-block;
}

.card .info{
    width: 400px;
    display: inline-block;
    position: absolute;
    left: 140px;
}